/*
flexbox:
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
*/


/*.container {
  margin: 0 auto;
  width: 1000px;
}*/
.panel {
  border-radius: 3px;
  border: rgba(0,0,0,0.4) 1px solid;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  margin: 0px 8px 8px 0px;
}
.panel .p-top {
  height: 10px;
  background-color: #ffb2b2;
}
.panel .p-mid {
  padding: 10px;
}
.panel .p-bottom {
  height: 10px;
  background-color: #b2b6ff;
}
.header {
  
}
.trilogy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.trilogy > div {
  width: 30%;
}
/*.tril-left {
  float: left;
}
.tril-cent {
  float: left;
  margin: 0 auto;
}
.tril-right {
  float: right;
}*/
.main {
  float: left;
  width: 60%;
}
.side {
  width: 20%;
  float: right;
}
.footer {
  clear: both;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  text-align:center;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/* body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
} */

/*.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}*/

/* code {
  font-size: 80%;
} */

.portrait{
  height:100%;
  margin-right:5%;
}